.textBoxWhite {
}

.hmdlrButton {
    -fx-background-color:  #2a5378;
    -fx-background-radius: 5;
    -fx-padding: 8;
    -fx-font-size: 16;
}

.hmdlrTextBox {
    -fx-background-color: #232f3d;
    -fx-border-radius: 3;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #54606e;
}

.hmdlrTextBox:focused {
    -fx-prompt-text-fill: #54606e;
}

.profilePicture {
    -fx-background-color: cyan;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-radius: 50%;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}